@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Oswald:wght@300;400;500;600;700&display=swap');

*,
*::before
*::after {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Oswald', sans-serif;
}



