*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
  min-height: 20rem;
  background-color: #2f2f2f;
  padding: 5rem 20rem 2rem;
}

.footer__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  
}

.footer__about, .footer__address, .footer__contactus {
  width: 25%;
}

.footer__about__h {
  text-transform: uppercase;
}

.footer__about__h, .footer__address__h, .footer__address__h {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.footer__about__p {
  font-size: 1.4rem;
  color: #fff;
}

.footer__address__p {
  font-size: 1.4rem;
  color: #ababab;
}

.footer__social {
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.footer__social__icon {
  margin-left: 1.5rem;
  color: #ababab;
}

.footer__lower {
  padding-top: 2rem;
  border-top: 2px solid #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: #ababab;
}


